#airforce1 {
    color: #DDDD00;
}

#airforce1:hover {
    color: #FFFF00;
    background-color: #75662b;
}

#rebajas {
    color: #CC0000;
}

#rebajas:hover {
    color: #FF0000;
}

body {
    background-color: #000000;
}

hr.nakedhr {
    height: 6px;
    background: url(http://ibrahimjabbari.com/images/hr-11.png) repeat-x 0 0;
    border: 0;
}