body {
	align-content: center;
}

header.img {
	width: 35vw;
	height: 100%;
	align-content: center;
}

content {
	width: 100%;
	height: 100%;
	clear: both; 
    display: table; 
    font-family: georgian;
}

menu {
	background-color: #EFEFEF;
	color: #111111;
	padding: 1px;
	clear: both;
	text-align: left;
    width: 7vw;
    height: 100%;
    display: table;
    float: left; 
}

section {
	width: 28vw;
	height: 100%;
	float: left;
	padding: 1vw;
	text-align: left;
}

